name: App Build Test and Publish - Branch
 
on:
  push:  
    branches-ignore:
      - "main"
jobs:

  build_parameters:
    name: Define Build Parameters

    runs-on: ubuntu-latest

    # We need to share details across job boundaries, expose the step outs at the job level
    outputs:
      maven_changelist: ${{ steps.build_params.outputs.maven_changelist }}
      maven_sha1: ${{ steps.build_params.outputs.maven_sha1 }}
      github_branch_name: ${{ steps.build_params.outputs.github_ref_branch_name }}
      github_short_sha: ${{ steps.build_params.outputs.github_short_sha }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Define Build Parameters
        id: build_params
        uses: actions/github-script@v3
        with:
          script: |
            const scriptPath = require('path').resolve('./.github/workflows/scripts/build_parameters.js')
              , buildParameters = require(scriptPath);
            ;
            buildParameters(context, core).injectBuildParameters();


  build:
    name: Build, Test, Package and Deploy snapshot app version

    needs:
      - build_parameters

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest']
        java: [ '11' ]

    steps:

      - name: set lower case owner name
        run: |
          echo "OWNER_LC=${OWNER,,}" >>${GITHUB_ENV}
        env:
          OWNER: '${{ github.repository_owner }}'

      - name: Checkout Sources
        uses: actions/checkout@v2

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.java }}
          distribution: 'adopt'

      # Utilize caching of the resolved plugins and dependencies from previous Maven builds to provide
      # faster builds when dependencies have not changed.
      - name: Cache Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          # Hash on the POM file as that would need to change to modify the dependencies or plugins in use
          key: mvn-${{ matrix.java }}-${{ runner.os }}-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            mvn-${{ matrix.java }}-${{ runner.os }}-${{ hashFiles('**/pom.xml') }}
            mvn-${{ matrix.java }}-${{ runner.os }}
            mvn-${{ matrix.java }}
            mvn-

      - name: Get Token
        id: get_workflow_token
        uses: peter-murray/workflow-application-token-action@v1
        with:
          application_id: ${{ secrets.APPLICATION_ID }}
          application_private_key: ${{ secrets.APPLICATION_PRIVATE_KEY }}
          organization: ${{ env.OWNER_LC }}

      - name: Write token
        run: echo ${{ steps.get_workflow_token.outputs.token }}

      - name: Build Test and Package
        id: maven_build
        env:
          GITHUB_TOKEN: ${{ steps.get_workflow_token.outputs.token }}
        run: |
          mvn package -U -B \
            -Dsha1="${{ needs.build_parameters.outputs.maven_sha1 }}" \
            -Dchangelist="${{ needs.build_parameters.outputs.maven_changelist }}" \
            -Dgithub.repository="${GITHUB_REPOSITORY}" 
        shell: bash
        
      - name: Deploy to GitHub Packages
        id: maven_deploy_snapshot
        if: matrix.os == 'ubuntu-latest'
        env:
          GITHUB_TOKEN: ${{ steps.get_workflow_token.outputs.token }}
        run: |
          mvn deploy -B \
            -Dsha1="${{ needs.build_parameters.outputs.maven_sha1 }}" \
            -Dchangelist="${{ needs.build_parameters.outputs.maven_changelist }}" \
            -Dgithub.repository="${GITHUB_REPOSITORY}" 
        shell: bash
            
      - name: Set up QEMU
        if: matrix.os == 'ubuntu-latest'
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        if: matrix.os == 'ubuntu-latest'
        uses: docker/setup-buildx-action@v1
      - name: Sign in to GitHub Container Registry
        if: matrix.os == 'ubuntu-latest'
        uses: docker/login-action@v1
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ghcr.io

      - name: Build and push Container
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true          
          tags: "ghcr.io/${{ env.OWNER_LC }}/${{ steps.maven_build.outputs.container_image_name }}:${{ steps.maven_build.outputs.container_version }}"
          build-args: |
            MAIN_JAR=${{ steps.maven_build.outputs.build_output_file }}
            MAIN_CLASS=${{ steps.maven_build.outputs.build_main_class  }}
            MAIN_JAR_TYPE=${{ steps.maven_build.outputs.build_output_type  }}
      
      - name: Publish Container as a Status
        id: container_image_status
        if: matrix.os == 'ubuntu-latest'
        uses: Sibz/github-status-action@v1
        with:
          authToken: ${{ steps.get_workflow_token.outputs.token }}
          state: success
          context: Container Image Published - App
          description: ${{ steps.maven_build.outputs.container_image_name }}:${{ steps.maven_build.outputs.container_version }}
