name: Container Image Scan
 
on:
  # registry_package:

  # Trigger container scanning on completion of workflows that build a container
  workflow_run:
    workflows: 
      - "App Build Test and Publish - Branch"
      - "App Build Test and Publish - Production"
    types:
      - completed      

jobs:

  get_containers:
    name: Get Containers
    runs-on: ubuntu-latest

    outputs:
      containers: ${{ steps.container_images.outputs.containers }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Get Container Images from Commit Status
        id: container_images
        uses: actions/github-script@v4.1
        with:
          script: |
            console.log("context.sha = " + context.sha)
            console.log("context.payload_sha = " + context.payload.workflow_run.head_sha)
            console.log(JSON.stringify(context, null, 2));

            const statuses = await github.repos.getCombinedStatusForRef({
                ...context.repo,
                ref: context.payload.workflow_run.head_sha
            }).then(status => {
                if (status.data.statuses) {
                    return status.data.statuses.filter(status => {
                        return status.context === 'Update container status' && status.state === 'success';
                    });
                }
                return null;
            });

            //TODO remove this
            console.log('----- Combined Statuses');
            console.log(JSON.stringify(statuses, null, 2));

            const containers = [];
            if (statuses) {
                statuses.forEach(status => {
                  containers.push(status.description);
                });
            }

            if (containers.length > 0) {
              core.setOutput('containers', JSON.stringify(containers));
              console.log(`Containers found: ${JSON.stringify(containers)}`);
            } 


  container_scan:
    name: Container Image Scan
    runs-on: ubuntu-latest
    if: needs.get_containers.outputs.containers

    needs:
      - get_containers

    strategy:
      fail-fast: false
      matrix:
        container: ${{ fromJSON(needs.get_containers.outputs.containers) }}

    steps:      

      - name: set lower case owner name
        run: |
          echo "OWNER_LC=${OWNER,,}" >>${GITHUB_ENV}
        env:
          OWNER: '${{ github.repository_owner }}'

      - name: Sign in to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.PACKAGES_PAT }}
          registry: ghcr.io

      - name: Fetch Container Image
        run: |
          docker pull ghcr.io/${{ env.OWNER_LC }}/${{ matrix.container }}

      - name: Scan Container Image
        uses: anchore/scan-action@v3
        with:
          image: ghcr.io/${{ env.OWNER_LC }}/${{ matrix.container }}
          debug: true
          acs-report-enable: true

      - name: Display SARIF report data
        run: cat results.sarif

      - name: Upload Anchore scan SARIF report
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: results.sarif