name: testflow
 
on:
  workflow_run:
    workflows: [ triggerflow ]    
    types: 
      - completed

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.1.0
      - name: test
        run: echo test